.body, .dark{
    background-color: #fff;
    padding-top: 0px;
    padding-bottom: 0px;
}
.gap.svelte-vt1mxs{
    gap: 10px;
}
.logo{
    margin-left: auto;
    margin-right: auto;
}
.subtitle{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.subtitle textarea, input{
    text-align: center;
    -webkit-text-fill-color: black;
    background-color: white;
}
.painel{
    border: white;
}
.row-chat, .row-user{
    background-color: #9f9fa0;
}

.row-user{
    height: auto;
}

.chatbot label{
    background: #399fe8;
    color: #fff;
}

.message.user{
    background-color: #f5f5f5;
    color: black;
}

.message.bot, .message.pending{
    background-color: #399fe8;
    color: white;
}

.textbox{
    margin-left: auto;
    margin-right: auto;
    min-width: 55px;
}

.textbox textarea{
    background-color: #fff;
    color: black;
    min-height: 40px;
}

.file {
    height: 100px;
}


.button {
    height: auto;   
    margin-left: auto;
    margin-right: auto; 
}

.submit{
    border: #4D4DA1;/*#0f0a0a*/
    margin-top: auto;
    margin-bottom: auto;
}

footer {
    visibility: collapse;
    margin-top: 0px;
}
  
@media screen and (max-width: 768px) {
    .cor {
        width: calc(100%/3);
    };
    .cor4,.cor5 {
        display: none;
    };
}